.venv/
.pytest_cache/
__pycache__/
*.py[cod]

.idea/

reports/artifacts/
reports/screenshots/
reports/excel_previews/
reports/test.log
reports/test_*_passed_*.html
reports/test_*_passed_*_console.json
reports/test_*_failed_*.html
reports/test_*_failed_*_console.json
reports/testcase_excel_preview.png

scratch/
